/* google font css */
.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
 

  /* website Main css */
  .section-tittle{
      font-size: 42px;
      color: #252432;
      font-weight: bold;
  }
    .primary-btn{
        padding: 12px 36px;
        border: none;
        border-radius: 10px;
        background-color: #4E47FF;
        
        
    }
    .primary-btn a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
    .primary-btn:hover{
        background-color: red;
        transition:0.3s;
    }

  

  /* header section */
  
nav{
    display:flex;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
  header{
    background-image:url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    
   
  }

  .main-logo{
      color: #4E47FF;
      font-size: 34px;
      font-weight:900;
      font-family: "Inter", sans-serif;
  }
/* banner style */
.banner-container{
    padding: 150px 50px 200px 50px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    
      
}
.banner-tittle{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;
}

/* main body section */
main{
    background-color: #f5f8ff;
    font-family: "Raleway", sans-serif;
}

/* Action section style */
.action-container{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 90px 0;
}

.action-container img{
    border-radius: 48px;
    align-items: flex-end;
}
.action-details{
    width: 40%;
   
}
.action-description{
    margin-top: -20px;
    font-size: 24px;
    font-weight: 400;
    color: rgb( 37,36,50, .50);
}