/* google font css */
.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
 

  /* website Main css */
  section{
    margin: 0 0 120px 0;
}
  .center{
      text-align: center;
  }
  .section-tittle{
      font-size: 42px;
      line-height: normal;
      color: #252432;
      font-weight: bold;
  }
    .primary-btn{
        padding: 12px 36px;
        border: none;
        border-radius: 10px;
        background-color: #4E47FF;
        
        
    }
    .primary-btn a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }
    .primary-btn:hover{
        background-color: red;
        transition:0.3s;
    }

  

  /* header section */
  
nav{
    display:flex;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
  header{
    background-image:url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    
   
  }

  .main-logo{
      color: #4E47FF;
      font-size: 34px;
      font-weight:900;
      font-family: "Inter", sans-serif;
  }
/* banner style */
.banner-container{
    padding: 150px 50px 200px 50px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    
      
}
.banner-tittle{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;
}

/* main body section */
body{
    background-color:  #f5f8ff;
}
main{
    
    max-width: 1140px;
    margin:0 auto;
    font-family: "Raleway", sans-serif;
}

/* Action section style */
.action-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
     padding: 100px 0 0 0px;
}

.action-container img{
    border-radius: 48px;
    align-items: flex-end;
}
.action-details{
    width: 40%; 
}

.action-description{
    margin-top: -20px;
    font-size: 24px;
    font-weight: 400;
    color: rgb( 37,36,50, .50);
}

/* Productive users style */
.productive-user{
    background-color: rgb(229,231,255);
    border-radius: 24px;
    padding: 50px 80px;
}
.productive-items{
    display:flex;
    gap: 130px;
    justify-content:space-around;
}
.productive-item{
    text-align: center
}

.productive-item-tittle{
    font-size: 80px;
    display: inline;
    font-weight: bold;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}
.productive-item-description{
    font-size: 20px;
    font-weight: 400;
    color: rgb( 37,36,50, .50);
    font-family: "Inter", sans-serif;
}

/* Testimonial seciton style */

.reviews-items{
    display:flex;
    gap: 20px;
    justify-content: space-around;
}
.review-item{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.50);
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px;
}
.review-footer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.review-footer img{
    width: 40px;
    height: 40px;
    border-radius:100%;
}
.review-title{
    font-size: 18px;
    color: #1a1212d7;
    margin-bottom: 10px;
}
.reivew-descriptin{
    font-size: 16px;
    line-height: 25px;
}
.reviewer-name{
    display: inline;
    font-size: 14px;
    color: #757575;
   
}
.reviewr-details{
    margin-top: 7px;
    display: inline;

}
.reviewer-position{
    font-size: 12px;
    color: #b3b3b3;
}
/* Focused section style */
.focused-section{
    background-color: #ffffff;
    border-radius: 14px;
    padding: 70px 150px;
    text-align: center;
}
.focused-section img{
    margin-top: 30px;
    border-radius: 48px;
}
.focused-tittle{
    font-size: 50px;
}
.focused-description{
    margin-top:-30px;
    margin-bottom: 20px;
}